*

!.gitignore
!LICENSE.txt
!owasp-suppressions.xml
!pom.xml
!**/pom.xml
!README.md
!versions-maven-plugin-rules.xml

!.github/
!.github/**/
!.github/**/*.yml

!common/
!common/**/
!common/**/*

!db/
!db/**/
!db/**/*

!lib/
!lib/*

# Train History Backend

!train-history-backend/
!train-history-backend/playwright.config.ts
!train-history-backend/.env.playwright.example
!train-history-backend/e2e/
!train-history-backend/e2e/**/
!train-history-backend/e2e/**/*.ts
!train-history-backend/src
!train-history-backend/src/main
!train-history-backend/src/main/java/
!train-history-backend/src/main/java/**/
!train-history-backend/src/main/java/**/*.java
!train-history-backend/src/main/resources
!train-history-backend/src/main/resources/**/
!train-history-backend/src/main/resources/static/**/*.css
!train-history-backend/src/main/resources/static/**/*.js
!train-history-backend/src/main/resources/static/**/favicon.ico
!train-history-backend/src/main/resources/templates/**/*.peb
!train-history-backend/src/main/resources/application.properties
!train-history-backend/src/main/resources/logback.xml
!train-history-backend/src/main/resources/secretsmanager.properties
!train-history-backend/src/test
!train-history-backend/src/test/**/
!train-history-backend/src/test/resources/**/*.sql
!train-history-backend/src/sass
!train-history-backend/src/sass/**/
!train-history-backend/src/sass/**/*.scss
!train-history-backend/src/typescript
!train-history-backend/src/typescript/**/
!train-history-backend/src/typescript/**/*.ts
!train-history-backend/css-handling.mjs
!train-history-backend/package.json
!train-history-backend/pnpm-lock.yaml
!train-history-backend/rollup.config.mjs
!train-history-backend/tsconfig.json
train-history-backend/target/
train-history-backend/node_modules/

# Train History Updater

!train-history-updater/
!train-history-updater/.mvn
!train-history-updater/.mvn/**/
!train-history-updater/.mvn/**/*
!train-history-updater/src/**/
!train-history-updater/src/**/*.java
!train-history-updater/src/main/resources/db/migration/*.sql
!train-history-updater/src/main/resources/static/**/*.css
!train-history-updater/src/main/resources/static/**/*.html
!train-history-updater/src/main/resources/application.properties
!train-history-updater/src/main/resources/logback.xml
!train-history-updater/src/main/resources/secretsmanager.properties
!train-history-updater/mvnw
!train-history-updater/mvnw.cmd

train-history-updater/target/
