<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <springProperty scope="context" name="activeProfiles" source="spring.profiles.active" defaultValue="-"/>
    <springProperty scope="context" name="hostname" source="myHostname" defaultValue="-"/>

    <logger name="fi.livi.rata.avoindata" level="DEBUG"/>
    <logger name="org.flywaydb" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
