<div class="container" style="margin-top: 20px">
  <span>Haluan tarkastella: </span>
  <button mat-raised-button color="primary" routerLink="/trains" class="btn btn-primary" routerLinkActive="active">Aikatauluja</button>
  <button mat-raised-button color="primary" routerLink="/compositions" class="btn btn-primary" routerLinkActive="active">Kokoonpanoja</button>
</div>

  <router-outlet class="container"></router-outlet>

<footer class="footer">
  <span class="text-muted">Historiatietoja säilytetään 14 päivää.</span>
  <span class="text-muted">Liikennetietojen lähde <a href="https://www.fintraffic.fi/">Fintraffic</a> / <a href="https://rata.digitraffic.fi">rata.digitraffic.fi</a>, lisenssi CC 4.0 BY</span>
</footer>
