<div class="container">
  <h1>1. Etsi kokoonpano</h1>
  <mat-form-field appearance="standard">
    <mat-label>Junanumero</mat-label>
    <input matInput placeholder="Placeholder" [formControl]="this.trainNumberFormControl">
    <mat-hint>Esim. IC 46:n junanumero on "46"</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Lähtöpäivämäärä</mat-label>
    <input matInput placeholder="Placeholder" [formControl]="this.departureDateFormControl">
    <mat-hint>Ensimmäisen lähdön päivämäärä</mat-hint>
  </mat-form-field>


  <div>
    <button mat-raised-button color="accent" (click)="this.fetchTrain()">Etsi aikataulu</button>
    <mat-spinner *ngIf="this.loading"></mat-spinner>
  </div>

  <ng-container *ngIf="compositions != null">
    <h1>2. Valitse versio</h1>
    <mat-form-field appearance="standard">
      <mat-label>Versio</mat-label>
      <mat-select [formControl]="this.selectedVersionFormControl">
        <mat-option *ngFor="let c of compositions"
                    [value]="c.json">{{ c.id.fetchDate | date: 'dd.MM.yyyy HH:mm:ss'}} ({{c.version}})
        </mat-option>
      </mat-select>
      <mat-hint>Tippi: voit käyttää nuolinäppäimiä</mat-hint>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="this.selectedVersionFormControl.value != null">
    <small>Junatyyppi: {{this.selectedVersionFormControl.value?.trainType}},
      Junakategoria: {{this.selectedVersionFormControl.value?.trainCategory}}
      </small>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="totalLength">
        <th mat-header-cell *matHeaderCellDef>Pituus</th>
        <td mat-cell *matCellDef="let element"> {{element.totalLength}} m</td>
      </ng-container>
      <ng-container matColumnDef="maximumSpeed">
        <th mat-header-cell *matHeaderCellDef>Maksiminopeus</th>
        <td mat-cell *matCellDef="let element"> {{element.maximumSpeed}} km/h</td>
      </ng-container>
      <ng-container matColumnDef="beginTimeTableRow">
        <th mat-header-cell *matHeaderCellDef>Lähtö</th>
        <td mat-cell *matCellDef="let element">{{ element.beginTimeTableRow.scheduledTime | date: 'HH:mm:ss'}} {{ element.beginTimeTableRow.stationShortCode }}</td>
      </ng-container>
      <ng-container matColumnDef="endTimeTableRow">
        <th mat-header-cell *matHeaderCellDef>Saapuminen</th>
        <td mat-cell *matCellDef="let element">{{ element.endTimeTableRow.scheduledTime | date: 'HH:mm:ss'}} {{ element.endTimeTableRow.stationShortCode }}</td>
      </ng-container>
      <ng-container matColumnDef="locomotives">
        <th mat-header-cell *matHeaderCellDef>Veturit</th>
        <td mat-cell *matCellDef="let element">
          <span *ngFor="let loco of element.locomotives ">{{ loco.locomotiveType }}&nbsp;</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="wagons">
        <th mat-header-cell *matHeaderCellDef>Vaunut</th>
        <td mat-cell *matCellDef="let element">
          <span *ngFor="let loco of element.wagons ">{{ loco.wagonType }}&nbsp;</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
</div>
