.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.container > * {
  width: 250px;
  margin-bottom: 8px;
}

small {
  margin-top: 16px;
}

table {
  min-width: 1000px;
}

button {
  margin-bottom: 16px;
}
