*, *::before, *::after {
  font-family: var(--fds-typography-body-default-font-family);
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--fds-color-brand-white);
  color: var(--fds-color-text-1000);
  font-size: var(--fds-typography-body-default-font-size);
  line-height: var(--fds-typography-body-default-line-height);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: var(--fds-typography-heading-small-heading-4-font-weight);
}

h1 {
  font-size: var(--fds-typography-heading-small-heading-1-font-size);
  line-height: var(--fds-typography-heading-small-heading-1-line-height);
}

h2 {
  font-size: var(--fds-typography-heading-small-heading-2-font-size);
  line-height: var(--fds-typography-heading-small-heading-2-line-height);
}

h3 {
  font-size: var(--fds-typography-heading-small-heading-3-font-size);
  line-height: var(--fds-typography-heading-small-heading-3-line-height);
}

h4 {
  font-size: var(--fds-typography-heading-small-heading-4-font-size);
  line-height: var(--fds-typography-heading-small-heading-4-line-height);
}

h5 {
  font-size: var(--fds-typography-heading-small-heading-5-font-size);
  line-height: var(--fds-typography-heading-small-heading-5-line-height);
}

h6 {
  font-size: var(--fds-typography-heading-small-heading-6-font-size);
  line-height: var(--fds-typography-heading-small-heading-6-line-height);
}

a {
  color: var(--fds-color-interactive-200);
  text-decoration: var(--fds-typography-link-default-text-decoration);
  font-size: var(--fds-typography-link-default-font-size);
  line-height: var(--fds-typography-link-default-line-height);

  &:hover {
    color: var(--fds-color-interactive-300);
  }

  &:focus {
    outline: 2px solid var(--fds-color-interactive-200);
    outline-offset: 2px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

.text-muted {
  color: var(--fds-color-text-600);
}

input, select, textarea {
  font-family: inherit;
}
