.version-info {
  background-color: var(--fds-color-brand-white);
  padding: var(--fds-size-3, 24px);
  border-radius: var(--fds-radius-normal);
  box-shadow: var(--fds-style-elevation-100);
  margin-bottom: var(--fds-size-3, 24px);
}