name: Deploy
on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        type: environment
        default: 'beta'
      commit-hash:
        description: 'Commit hash/ECR image tag'
        required: true
        type: string
      config-repo-branch:
        description: 'Config repo branch'
        default: master
        required: true
        type: string
jobs:
  install:
    if: github.repository != 'tmfg/digitraffic-rail-history'
    environment: ${{ github.event.inputs.env }}
    strategy:
      matrix:
        app: [ backend, updater ]
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Update ${{ matrix.app }} task definition
        uses: tmfg/digitraffic-actions@update-task-def/v2
        with:
          task-def-file-name: rail-${{ github.event.inputs.env }}-train-history-${{ matrix.app }}
          family-name: train-history-${{ matrix.app }}
          image-arn: ${{ secrets.ECR_URL }}/train-history-${{ matrix.app }}:${{ github.event.inputs.commit-hash }}
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          ci-repo-url: ${{ secrets.CONFIG_REPO_NAME }}
          ci-repo-branch: ${{ github.event.inputs.config-repo-branch }}
          ci-ssh-key: ${{ secrets.CONFIG_SSH_PRIVATE_KEY }}
      - name: Update ${{ matrix.app }} ECS service
        uses: tmfg/digitraffic-actions@ecs-service-update/v1
        with:
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          service-name: train-history-${{ matrix.app }}
          task-definition: train-history-${{ matrix.app }}
          cluster-name: ${{ secrets.CLUSTER_NAME }}
          desired-count: 1
      - name: Notify Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          text: FAILED Rail-history Deploy ${{ matrix.app }}
          fields: repo, job, took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
  E2E:
    if: ${{github.repository != 'tmfg/digitraffic-rail-history' && github.event.inputs.env == 'beta'}}
    environment: ${{ github.event.inputs.env }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.inputs.commit-hash }}
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: "pnpm"
          cache-dependency-path: ./train-history-backend

      - name: Install dependencies for E2E-tests
        working-directory: ./train-history-backend
        run: pnpm install

      - name: Install Playwright Browsers
        working-directory: ./train-history-backend
        run: pnpm dlx playwright install --with-deps

      - name: Update Playwright
        working-directory: ./train-history-backend
        run: pnpm exec playwright install

      - name: Run E2E-tests
        env:
          TRAIN_HISTORY_TEST_URL: ${{ vars.TRAIN_HISTORY_TEST_URL }}
        working-directory: ./train-history-backend
        run: pnpm run e2e

      - name: Upload Playwright report
        uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ./train-history-backend/playwright-report/
          retention-days: 30
