name: Install
on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        type: environment
        default: 'beta'
      ref:
        description: 'Branch/tag/SHA of digitraffic-rail-history-private'
        required: true
        default: 'master'
      config-repo-branch:
        description: 'Config repo branch'
        default: master
        required: true
        type: string
jobs:
  install:
    if: github.repository != 'tmfg/digitraffic-rail-history'
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    environment: ${{ github.event.inputs.env }}
    steps:
      - name: Log workflow inputs and environment
        run: |
          echo "## Workflow Inputs" >> $GITHUB_STEP_SUMMARY
          echo "| Name | Value |" >> $GITHUB_STEP_SUMMARY
          echo "|------|-------|" >> $GITHUB_STEP_SUMMARY
          echo "| actor | ${{ github.actor }} |" >> $GITHUB_STEP_SUMMARY
          echo "| env | ${{ github.event.inputs.env }} |" >> $GITHUB_STEP_SUMMARY
          echo "| ref | ${{ github.event.inputs.ref }} |" >> $GITHUB_STEP_SUMMARY
          echo "| config-repo-branch | ${{ github.event.inputs.config-repo-branch }} |" >> $GITHUB_STEP_SUMMARY
          # echo "| db-install | ${{ github.event.inputs.db-install }} |" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
        shell: bash
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.ref }}
      - name: Checkout CI-repo
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_SSH_PRIVATE_KEY }}
          ref: ${{ inputs.config-repo-branch }}
          path: digitraffic-ci
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: corretto
          cache: maven
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: "pnpm"
          cache-dependency-path: ./train-history-backend
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: gh-actions-build-rail-history-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
      - name: Run initialize
        run: mvn initialize
      - name: Build backend
        run: |
          cd train-history-backend
          mvn install -DskipTests=true -Ddependency-check.skip=true
          pnpm install
          pnpm build
          cp target/train-history-backend-0.0.1-SNAPSHOT.jar ../digitraffic-ci/aws/train-history-backend.jar
          cd ../digitraffic-ci/aws
          
          docker buildx build \
            --no-cache \
            --build-arg ENV=${{ github.event.inputs.env }} \
            --build-arg APP_FILE=train-history-backend.jar \
            --build-arg PROPERTY_FILE=conf/train-history-backend-${{ github.event.inputs.env }}.properties \
            --platform linux/arm64 \
            --output type=docker \
            --tag ${{ secrets.ECR_URL }}/train-history-backend:${GITHUB_SHA} \
            --pull=true \
            --file=docker/Dockerfile-rail-train-history-backend .
          
          docker push ${{ secrets.ECR_URL }}/train-history-backend:${GITHUB_SHA}
      - name: Build updater
        run: |
          cd train-history-updater
          mvn install -DskipTests=true -Ddependency-check.skip=true
          cp target/train-history-updater-0.0.1-SNAPSHOT.jar ../digitraffic-ci/aws/train-history-updater.jar
          cd ../digitraffic-ci/aws
          docker buildx build \
            --no-cache \
            --build-arg ENV=${{ github.event.inputs.env }} \
            --build-arg APP_FILE=train-history-updater.jar \
            --build-arg PROPERTY_FILE=conf/train-history-updater-${{ github.event.inputs.env }}.properties \
            --platform linux/arm64 \
            --output type=docker \
            --tag ${{ secrets.ECR_URL }}/train-history-updater:${GITHUB_SHA} \
            --pull=true \
            --file=docker/Dockerfile-rail-train-history-updater .
          
          docker push ${{ secrets.ECR_URL }}/train-history-updater:${GITHUB_SHA}
      - name: Generate backend SBOM
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: image
          image-ref: ${{ secrets.ECR_URL }}/train-history-updater:${{ github.sha }}
          format: cyclonedx
          output: history-backend-sbom.json
      - name: Generate updater SBOM
        run: |
          cd train-history-updater
          mvn -DoutputName=history-updater-sbom cyclonedx:makeBom
      - name: Upload backend SBOM
        uses: actions/upload-artifact@v6
        with:
          name: history-backend-sbom.json
          path: history-backend-sbom.json
      - name: Upload updater SBOM
        uses: actions/upload-artifact@v6
        with:
          name: history-updater-sbom.json
          path: train-history-updater/target/history-updater-sbom.json
      - name: Notify Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          text: FAILED Rail-history Install
          fields: repo, job, took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

  deploy:
    if: ${{ always() && github.repository != 'tmfg/digitraffic-rail-history' && contains(needs.*.result, 'success') && !(contains(needs.*.result, 'failure')) }}
    environment: ${{ github.event.inputs.env }}
    needs: install
    strategy:
      matrix:
        app: [ history-backend, history-updater ]
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Update ${{ matrix.app }} task definition
        uses: tmfg/digitraffic-actions@update-task-def/v2
        with:
          task-def-file-name: rail-${{ github.event.inputs.env }}-train-${{ matrix.app }}
          family-name: train-${{ matrix.app }}
          image-arn: ${{ secrets.ECR_URL }}/train-${{ matrix.app }}:${{ github.sha }}
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          ci-repo-url: ${{ secrets.CONFIG_REPO_NAME }}
          ci-repo-branch: ${{ github.event.inputs.config-repo-branch }}
          ci-ssh-key: ${{ secrets.CONFIG_SSH_PRIVATE_KEY }}

      - name: Update ${{ matrix.app }} ECS service
        uses: tmfg/digitraffic-actions@ecs-service-update/v1
        with:
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          service-name: train-${{ matrix.app }}
          task-definition: train-${{ matrix.app }}
          cluster-name: ${{ secrets.CLUSTER_NAME }}
          desired-count: 1

      - name: Download ${{ matrix.app }} SBOM
        uses: actions/download-artifact@v7
        with:
          name: ${{ matrix.app}}-sbom.json

      - name: Checkout CI-repo
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_SSH_PRIVATE_KEY }}
          ref: ${{ inputs.config-repo-branch }}
          path: digitraffic-ci

      - name: Read SBOM config
        id: sbom-config
        run: |
          echo "config<<EOF" >> $GITHUB_OUTPUT
          cat digitraffic-ci/aws/sbom/rail.json >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

          echo "common<<EOF" >> $GITHUB_OUTPUT
          cat digitraffic-ci/aws/sbom/config.json >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT                  

      - name: Configure AWS credentials for SBOM install
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ fromJson(steps.sbom-config.outputs.common).sbomUploadRoleArn }}
          role-session-name: gh-actions-upload-sbom-rail-${{ matrix.app }}-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload ${{ matrix.app }} SBOM
        run: |
          aws s3 cp ${{ matrix.app }}-sbom.json s3://${{ fromJson(steps.sbom-config.outputs.common).bucketArn }}/${{ fromJson(steps.sbom-config.outputs.config)[github.event.inputs.env][matrix.app] }}/${{ github.run_id }}-${{ github.sha }}.json

      - name: Notify Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          text: FAILED Rail-history Deploy ${{ matrix.app }}
          fields: repo, job, took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

  E2E:
    if: ${{ github.repository != 'tmfg/digitraffic-rail-history' && github.event.inputs.env == 'beta' && always() && contains(needs.*.result, 'success') && !(contains(needs.*.result, 'failure')) }}
    needs: deploy
    environment: ${{ github.event.inputs.env }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.commit-hash }}
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: "pnpm"
          cache-dependency-path: ./train-history-backend

      - name: Install dependencies for E2E-tests
        working-directory: ./train-history-backend
        run: pnpm install

      - name: Install Playwright Browsers
        working-directory: ./train-history-backend
        run: pnpm dlx playwright install --with-deps

      - name: Update Playwright
        working-directory: ./train-history-backend
        run: pnpm exec playwright install

      - name: Run E2E-tests
        env:
          TRAIN_HISTORY_TEST_URL: ${{ vars.TRAIN_HISTORY_TEST_URL }}
        working-directory: ./train-history-backend
        run: pnpm run e2e

      - name: Upload Playwright report
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ./train-history-backend/playwright-report/
          retention-days: 30
