name: Install
on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        type: environment
        default: 'beta'
      ref:
        description: 'Branch/tag/SHA of digitraffic-rail-history-private'
        required: true
        default: 'master'
      config-repo-branch:
        description: 'Config repo branch'
        default: master
        required: true
        type: string
jobs:
  install:
    if: github.repository != 'tmfg/digitraffic-rail-history'
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    environment: ${{ github.event.inputs.env }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.inputs.ref }}
      - name: Checkout CI-repo
        uses: actions/checkout@v5
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_SSH_PRIVATE_KEY }}
          ref: ${{ inputs.config-repo-branch }}
          path: config
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: corretto
          cache: maven
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: gh-actions-build-rail-history-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
      - name: Run initialize
        run: mvn initialize
      - name: Build backend
        run: |
          cd train-history-backend
          mvn install -DskipTests=true -Ddependency-check.skip=true
          pnpm install
          pnpm build
          cp target/train-history-backend-0.0.1-SNAPSHOT.jar ../config/aws/train-history-backend.jar
          cd ../config/aws
          
          docker buildx build \
            --no-cache \
            --build-arg ENV=${{ github.event.inputs.env }} \
            --build-arg APP_FILE=train-history-backend.jar \
            --build-arg PROPERTY_FILE=conf/train-history-backend-${{ github.event.inputs.env }}.properties \
            --platform linux/arm64 \
            --output type=docker \
            --tag ${{ secrets.ECR_URL }}/train-history-backend:${GITHUB_SHA} \
            --pull=true \
            --file=docker/Dockerfile-rail-train-history-backend .
          
          docker push ${{ secrets.ECR_URL }}/train-history-backend:${GITHUB_SHA}
      - name: Build updater
        run: |
          cd train-history-updater
          mvn install -DskipTests=true -Ddependency-check.skip=true
          cp target/train-history-updater-0.0.1-SNAPSHOT.jar ../config/aws/train-history-updater.jar
          cd ../config/aws
          docker buildx build \
            --no-cache \
            --build-arg ENV=${{ github.event.inputs.env }} \
            --build-arg APP_FILE=train-history-updater.jar \
            --build-arg PROPERTY_FILE=conf/train-history-updater-${{ github.event.inputs.env }}.properties \
            --platform linux/arm64 \
            --output type=docker \
            --tag ${{ secrets.ECR_URL }}/train-history-updater:${GITHUB_SHA} \
            --pull=true \
            --file=docker/Dockerfile-rail-train-history-updater .
          
          docker push ${{ secrets.ECR_URL }}/train-history-updater:${GITHUB_SHA}
      - name: Run Playwright tests
        if: ${{ github.event.inputs.env == 'beta' }}
        working-directory: ./train-history-backend
        env:
          TRAIN_HISTORY_TEST_URL: ${{ vars.TRAIN_HISTORY_TEST_URL }}
        run: |
          echo "Wait for the backend to start..."
          sleep 30
          pnpm run e2e
      - name: Notify Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          text: FAILED Rail-history Install
          fields: repo, job, took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
